<h2>Lista Empleados</h2>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of listaEmpleados">
        <td>{{empleado.nombre}}</td>
        <td>{{empleado.apellido}}</td>
        <td>{{empleado.email}}</td>
        <td>
          <div class="btn-group">
            <button class="btn btn-info" 
                    (click)="actualizarEmpleado(empleado.id)">
              <i class="fa-solid fa-pencil fa-fw"></i> Editar 
            </button>
            <button class="btn btn-danger" 
                    (click)="eliminarEmpleado(empleado.id)">
              <i class="fa-solid fa-times fa-fw"></i> Eliminar
            </button>
            <button class="btn btn-primary"
                    (click)="verDetalles(empleado.id)">
              <i class="fa-solid fa-info fa-fw"></i> Detalles
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>