<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <h3 class="text-center">Registro de empleado</h3>

    <form (ngSubmit)="onSubmit()" #empleadoForm="ngForm">
      <div class="form-group mb-3">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" 
               id="nombre" name="nombre" [(ngModel)]="empleado.nombre" placeholder="Ingrese su nombre" #nombre="ngModel" required/>
      </div>
      <div class="alert alert-danger mb-2" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div *ngIf="nombre.errors['required']">
          Se requiere este campo
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" 
               id="apellido" name="apellido" [(ngModel)]="empleado.apellido" placeholder="Ingrese su apellido" #apellido="ngModel" required/>
      </div>
      <div class="alert alert-danger mb-2" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
        <div *ngIf="apellido.errors['required']">
          Se requiere este campo
        </div>
      </div>
      <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" 
               id="email" name="email" [(ngModel)]="empleado.email" placeholder="Ingrese su email" #email="ngModel" 
               pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required/>
      </div>
      <div class="alert alert-danger mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors['required']">
          Se requiere este campo
        </div>
        <div *ngIf="email.errors['pattern']">
          Se debe ingresar una dirección de email válida: nombre@correo.com
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success" [disabled]="empleadoForm.invalid">
          Registrar empleado
        </button>
      </div>
    </form>
  </div>
</div>